In [3]:
# Import all necessary libraries
import pandas as pd
from matplotlib import pyplot as plt

In [16]:
dataset = pd.DataFrame([[1, 1, 2], [6, 4, 2], [4, 2, 1], [4, 2, 3]])

dataset.head()

   0  1  2
0  1  1  2
1  6  4  2
2  4  2  1
3  4  2  3

In [21]:
dataset.quantile(0.25)

0    3.25
1    1.75
2    1.75
Name: 0.25, dtype: float64